<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Credentials</string>
		</dict>
		<dict>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Logout on next startup</string>
			<key>Key</key>
			<string>logout</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Configuration</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Language Selection</string>
			<key>Key</key>
			<string>lang</string>
			<key>DefaultValue</key>
			<string>3</string>
			<key>Values</key>
			<array>
				<string>3</string>
				<string>2</string>
				<string>1</string>
			</array>
			<key>Titles</key>
			<array>
				<string>English</string>
				<string>Português</string>
				<string>Français</string>
			</array>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>3 days</string>
				<string>5 days</string>
				<string>7 days</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>3</string>
				<string>5</string>
				<string>7</string>
			</array>
			<key>DefaultValue</key>
			<integer>7</integer>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sync Alert</string>
			<key>Key</key>
			<string>sync_reminder</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
